[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.3"
elasticsearch = ">=2,<3"
markdown = "*"
gunicorn = "*"
faker = "*"
django-pure-pagination = "*"
django-haystack = "*"

[dev-packages]
fabric = "*"

[requires]
python_version = "3.8"
