.table-area{
	padding-bottom: 2em;
}
.table-area table{
	margin: 0 auto;
	width: 100%;
}
.table-area table th {
	font-weight: bold;
}

.table-area table tr th{
	background-color: #f8f8f8;
	white-space: nowrap;
}
  
.table-area table th,.table-area table td {
	border: 1px solid #ddd;
	padding: 5px 12px;
	text-align: center;
}
  
.table-area table tr {
	border-top: 1px solid #ccc;
	background-color: #fff;
}
  
.table-area table tr:nth-child(2n) {
	background-color: #f8f8f8;
}
